.swiper{
    padding: 50px 50px 100px 50px !important;
    z-index: 0 !important;
}
.swiperslides{
    display: flex;
    justify-content: center;
    --card-height: 250px;
    width: var(--card-height) !important;
}

