.swiper{
    padding: 20px 50px 100px 50px !important;
    z-index: 0 !important;
}

.swiper>div:nth-child(2), .swiper>div:nth-child(3){
    top: 147px !important;
}

.swiperslides{
    /*display: flex;*/
    /*justify-content: center;*/
    --card-height: 250px;
    /*width: var(--card-height) !important;*/
}

@media(max-width: 760px){
    .swiper{
        padding: 20px 4px 100px 4px !important;
        z-index: 0 !important;
    }
}