.main
  display: flex
  width: 100%
  justify-content: center
  align-items: center
  flex-wrap: wrap
  .skills
    height: 600px
    width: 600px
    max-height: calc(100vw - 40px)
    max-width: calc(100vw - 40px)
  .select
    width: 600px
    max-width: calc(100vw - 40px)
    display: flex
    flex-direction: column
    gap: 10px
    margin: 20px
    .topLevelContainer
      background-color: var(--background-highlight)
      border-radius: 20px
      padding: 0 15px
      display: flex
      flex-direction: column
      gap: 15px
      .titleOnClick
        padding: 15px 0
        cursor: pointer
        position: relative
        svg
          position: absolute
          left: 0
          top: 15px

      #title0
        path
          fill: #7F2AC7
        h1
          background: linear-gradient(to right, #7F2AC7 0%, #F90182 100%)
          -webkit-background-clip: text
          -webkit-text-fill-color: transparent
      #title1
        path
          fill: #0380EF
        h1
          background: linear-gradient(to right, #0380EF 0%, #05DCD9 100%)
          -webkit-background-clip: text
          -webkit-text-fill-color: transparent
      #title2
        path
          fill: #FF564C
        h1
          background: linear-gradient(to right, #FF564C 0%, #F9C62A 100%)
          -webkit-background-clip: text
          -webkit-text-fill-color: transparent
      #title3
        path
          fill: #02e890
        h1
          background: linear-gradient(to right, #02e890 0%, #4fc946 100%)
          -webkit-background-clip: text
          -webkit-text-fill-color: transparent
    h1
      font-size: var(--font-medium)
      background: var(--background-highlight)
    .h2MainContainer

      .h2Container
        cursor: pointer
        display: flex
        justify-content: space-between
        align-items: center

      h2, h3
        display: flex
        justify-content: flex-start
        align-items: center
        gap: 5px
      h2, h3, p, li
        margin: 0
        padding: 0
      ul
        padding: 0  0 0 30px
        margin: 0
      p, li
        font-size: var(--font-small)

  .titles
    display: flex
    justify-content: center
    align-items: center
    position: relative
    width: min(calc(100vw - 40px), 600px)
    padding: 0 10px
    svg
      position: absolute
      left: 0
      &.svgWeb path
        fill: #7F2AC7
      &.svgNatif path
        fill: #0380EF
      &.svgPerf path
        fill: #FF564C
      &.svgData path
        fill: #02e890
  p
    padding: 0
    margin: 0
    width: fit-content
    &.web
      background: linear-gradient(to right, #7F2AC7 0%, #F90182 100%)
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent
      font-size: var(--font-medium)
      font-weight: 800
    &.natif
      background: linear-gradient(to right, #0380EF 0%, #05DCD9 100%)
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent
      font-size: var(--font-medium)
      font-weight: 800
    &.perf
      background: linear-gradient(to right, #FF564C 0%, #F9C62A 100%)
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent
      font-size: var(--font-medium)
      font-weight: 800
    &.data
      background: linear-gradient(to right, #02e890 0%, #4fc946 100%)
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent
      font-size: var(--font-medium)
      font-weight: 800
