.dotLine{
    display: flex;
    position: absolute;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    height: 100%;
}

.circle{
    color: var(--background-highlight);
    height: 15px;
}

.circleContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px){
    .circle{
        height: 10px;
    }
}