.main
  max-width: calc(100vw - 8em)
  margin: auto
  min-width: 300px
  padding: 30px
  #g_id_onload
    position: relative
    width: fit-content
    margin: auto
    border-radius: 9px
    overflow: hidden
    color-scheme: auto
  #buttonDiv
    margin: auto
    width: fit-content
    color-scheme: auto
  p
    text-align: center
    a
      cursor: pointer
  form
    display: flex
    flex-direction: column
    gap: 10px
    justify-content: center
    align-items: center
    a
      font-size: var(--font-small)
      cursor: pointer
    p
      padding: 0
      margin: 0
      font-size: var(--font-small)
      color: red
    label
      display: flex
      gap: 5px
      svg
        color: var(--primary)
    input
      min-width: 250px
      background-color: unset
      border: none
    button
      margin: 0