


.mostViewed{
    box-shadow: none !important;
    --gradient-1: #5ddcff;
    --gradient-2: #3c67e3;
    --gradient-3: #4e00c2;
}
.lastUpdated{
    --gradient-1: #affa1b;
    --gradient-2: #b6ff3f;
    --gradient-3: #019a14;
    box-shadow: none !important;
}
.lastUpdated.mostViewed{
    --gradient-1: #ec9674;
    --gradient-2: #ec3525;
    --gradient-3: #932811;
}

.card {
    margin: auto;
    --card-width: var(--card-height);
    --card-border-size: 4px;
    /*background: #191c29;*/
    /*background: linear-gradient(180deg, rgba(255, 255, 255, 0.03) 50%, rgba(0, 0, 0, 0.9) 100%);*/
    background-size: cover;
    width: var(--card-width);
    height: var(--card-height);
    /*padding: 3px;*/
    position: relative;
    border-radius: 6px;
    /*text-align: center;*/
    cursor: pointer;
    box-shadow: 0 0 0 4px var(--primary-color);
}
.cardBorderChild, .cardShadowChild{
    background: linear-gradient(
            0deg,
            var(--gradient-1),
            var(--gradient-2) 43%,
            var(--gradient-3));
    animation: spin 2.5s linear infinite;
}

.cardBorderChild{
    position: absolute;
    width: calc(var(--card-height) * 2);
    height: calc(var(--card-height) * 2);
    top: -33%;
    left: -33%;
    border-radius: 100%;
}
.cardBorder{
    content: "";
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    border-radius: 8px;
    position: absolute;
    z-index: -1;
    top: -4px;
    left: -4px;
    overflow: hidden;
}


.cardShadow {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    opacity: 1;
    transition: opacity .5s;
    overflow: hidden;
}

.cardShadowChild{
    position: absolute;
    left: -100%;
    right: -100%;
    border-radius: 100%;
    top: -100%;
    bottom: -100%;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.cardTitle, .cardInfo, .cardDate{
    color: white;
    margin: 0;
}

.cardDate{
    width: 100%;
}

.cardTitle {
    overflow-wrap: anywhere;
    line-height: normal;
    margin-bottom: 2px;
    background: linear-gradient(to right, var(--primary-color) 0%, #05f70e 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.lastUpdated .cardTitle{
    background: linear-gradient(to right, #85dd30 0%, #019d39 100%);
    -webkit-background-clip: text;
}

.mostViewed .cardTitle{
    background: linear-gradient(to right, #a247e4 0%, #100ef7 100%);
    -webkit-background-clip: text;
}

.mostViewed.lastUpdated .cardTitle{
    background: linear-gradient(to right, #e7450a 0%, #f7c10e 100%);
    -webkit-background-clip: text;
}

.cardInfo{
    background: #333333;
    width: fit-content;
    padding: 0px 5px;
    border-radius: 5px;
    font-size: 12px;
    margin-left: auto;
    margin-top: auto;
}


.cardBackground{
    background: var(--background);
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    border-radius: 6px;
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: flex-end;
    flex-direction: column;
    padding: 10px;
    align-content: flex-start;
}

.hrRounded{
    border-top: 1px solid white;
    margin: 5px 0px;
    border-radius: 5px;
    width: 50px;
}

.clamp3lines p{
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: var(--primary);
    font-size: var(--font-small);
}

.lastUpdated .clamp3lines p, .mostViewed .clamp3lines p{
    -webkit-line-clamp: 4;
}

.lastUpdated.mostViewed .clamp3lines p{
    -webkit-line-clamp: 3;
}