
.screen{
    /*min-height: 100vh;*/
    max-width: var(--max-width);
    margin: auto;
    padding: 110px 20px 0 20px;
}

.screen h1 {
    font-size: 3em;
    margin: 0;
    text-align: center;
    width: 100%;
}

.home>.screen>div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home img{
    border-radius: 100%;
}

.home>.screen>div>span{
    width: 25% !important;
    max-width: 100%;
    aspect-ratio: 1;
    min-width: 150px;
    margin-top: auto !important;
}
.home p{
    text-align: center;
}
.home p strong{
    /*text-decoration: underline;*/
    color: var(--primary-color)
}

.showHeaderName{
    opacity: 1;
}

.presentationContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: min-content;
}

.presentationContainer svg{
    height: 3em;
}

.quotationLeft{
    margin-bottom: auto;
    transform: translateX(2px);
    color: var(--primary);
}

.quotationRight{
    margin-top: auto;
    transform: translateX(-2px);
    color: var(--primary);
}

#mobilePresentation{
    padding-top: 110px;
    min-height: 500px;
}

.presentationContainer h2:nth-child(1) strong{
    background: linear-gradient(to right, #0380EF 0%, #05DCD9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.presentationContainer h2:nth-child(2) strong{
    background: linear-gradient(to right, #7F2AC7 0%, #F90182 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.presentationContainer h2:nth-child(3) strong{
    background: linear-gradient(to right, #FF564C 0%, #F9C62A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.presentationContainer h2{
    text-align: center;
    font-size: 2.5em;
}

@media (max-width: 720px){
    .screen h1 {
        font-size: 2em;
    }

    .presentationContainer h2{
        font-size: 1.8em;
    }
}