.heading2Xl {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
}

.headingXl {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
}

.headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
}

.headingMd {
    font-size: 1.2rem;
    line-height: 1.5;
}

.borderCircle {
    border-radius: 9999px;
}

.colorInherit {
    color: inherit;
}

.padding1px {
    padding-top: 1px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.listItem {
    margin: 0 0 1.25rem;
}

.lightText {
    color: #666;
}

.margin{
    margin: 18px;
    /*position: sticky;*/
    /*top: 0;*/
    width: 50%;
}

.margin img{
    object-position: top;
    object-fit: contain;
}

.article{
    padding: 1em;
    position: relative;
    background-color: var(--background);
}
@media (max-width: 760px) {
    .margin{
        margin: 0;
        width: 100%;
    }
    .margin img{
        object-fit: cover !important;
        object-position: 0 50% !important;
        max-height: 300px;
        width: 100%;
    }
}

.nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    min-width: 100px;
    position: sticky;
    top: 0;
}
.nav ul {
    padding: 0;
}

.nav li{
    font-size: var(--font-small);
    margin: 5px 0;
    line-height: 1.2;
    list-style-type: none;
}

.mainHeading a, .subHeading a{
    cursor: pointer;
}

.subHeading{

}

.currentHeading a{
    color: var(--secondary-color) !important;
}